* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.form-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  margin-bottom: 20px;
}

input {
  height: 50px;
  width: 340px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3f9620;
  background: #ffffff;
  border: 1px solid #3f9620;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #45a323;
}

.error-message {
  text-decoration: none;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 2vh;
  color: #ed2d2d;
  margin-left: 2vh;
}

button {
  width: 340px;
  height: 50px;
  color: #ffffff;
  background: #3f9620;
  border-radius: 5px;
  border: solid 1px #3f9620;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

button:hover {
  background: #45a323;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #3f9620;
  margin-left: 2vh;
}

.other-links {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}
