* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.Alertbar-container {
  position: absolute;
  z-index: 2;
  top: 2%;
  right: 1%;
  width: 364px;
  height: 574px;
  background: rgba(244, 244, 244, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Inforcing Safari to apply input CSS properties
(not required for other browsers)*/
input[type="search"] {
  -webkit-appearance: textfield;
}

.Alertbar-container input {
  width: 319px;
  height: 35px;
  padding: 10px;
  background: #e6e6e6;
  color: #3f9620;
  text-align: justify;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #3f9620;
  border-radius: 5px;
  margin-top: 10px;
}

.scrollable-section {
  height: 410px;
  width: 364px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #dfdfdf;
  overflow-y: scroll !important;
  overflow: auto;
}

.stat-row1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 15px;
}
.stat-row2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
}

.stat-row2-element {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#online-count {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #07db36;
  margin: 0px 5px 0px 0px;
}

#online-label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #454545;
}

#chainsaw-count {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ff2e00;
  margin: 0px 3px 0px 0px;
}

#chainsaw-label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #454545;
  margin: 0px 8px 0px 0px;
}

#wildfire-count {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffb800;
  margin: 0px 3px 0px 0px;
}

#wildfire-label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #454545;
  margin: 0px 8px 0px 0px;
}

#poaching-count {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ad00ff;
  margin: 0px 3px 0px 0px;
}

#poaching-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #454545;
  margin: 0px 8px 0px 0px;
}

#offline-count {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1cadce;
  margin: 0px 3px 0px 0px;
}

#offline-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #454545;
  margin: 0px 8px 0px 0px;
}
