* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapbox-logo {
  display: none;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapbox-improve-map {
  display: none;
}
.mapboxgl-ctrl-compass {
  display: none;
}
.mapboxgl-street-map {
  display: none;
}
