* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.statbar-container {
  position: fixed;
  z-index: 2;
  top: 94%;
  right: 30%;
}

.statbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 20px;
  width: 30em;
  height: 1.9em;
}

.statbar-element {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activity-count {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  color: #000000;
  margin: 0px 5px 0px 5px;
}

#online {
  background: #23f952;
}

#offline {
  background: #2339f9;
}

#chainsaw {
  background: #ffb800;
}

#wildfire {
  background: #ff2e00;
}

#hunting {
  background: #ad00ff;
}

.activity-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-right: 10px;
}
